body {
    font-family: monospace;
    font-size: 14px;
    background: #efefef;
    color: #222;
    padding: 0;
    margin: 0;
}

a {
    color: #0814c6;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

h1 {
    margin: 0.25em 0 0.25em;
}

h2 {
    margin-bottom: 0.2em;
}

/* helpers */
.hidden {
    display: none;
}


/*  */
header {
    background: #3882d2;
    padding: 0.5em 1em;
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
}

header .subheader {
    color: #fff;
    margin-left: 1em;
}

header a {
    color: #fff;
}

header img {
    display: block;
}

header form {
    margin-left: 1em;
}

header input {
    border: none;
}

header .feedback-welcome {
    margin-left: auto;
    color: #eee;
}

header .feedback-welcome a {
    text-decoration: underline;
}

main {
    padding: 0 1em;
}

/* */

#pkgs, .pkg, .proc {
    scroll-margin-top: 65px;
}

#pkgs a {
    display: block;
    margin-left: 1em;
}

.proc {
    padding-left: 1em;
    margin: 0.25em;
}

.proc-name {
    color: #34392f;
    font-weight: 700;
}

.proc-link {
    color: #666;
}

.param-name {
    color: #333;
}

.type {
    color: #933;
}

.docs {
    padding-left: 1em;
    border-left: 1px solid #333;
    max-width: 800px;
}
